{
  "presets": [
      [
      "@babel/preset-env",
        {
          "targets": {
            "node": "current",
            "browsers": [
                "last 5 versions",
                "not ie <= 8"
            ]
          },
          "modules": false
        }
      ]
  ],
  "env": {
    "test": {
      "presets": [
          [
          "@babel/preset-env",
            {
              "targets": {
                "node": "current",
                "browsers": [
                    "last 5 versions",
                    "not ie <= 8"
                ]
              }
            }
          ]
      ]
    }
  }
}