bower_components
node_modules
node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log
yarn-error.log*

lib
lib/

coverage/
.nyc_output
tests_output

.cache/

.env

/.DS_Store
.DS_Store
Thumbs.db