# setup
package.json
gulpfile.js
rollup.config.js
.eslintrc
.babelrc
travis.yml

# dev
index.html
scss/example.scss
scss/grid.scss
js/example.js
js/example.js
favicon.ico

# local dist
dist/css/
dist/js/dev/

# tests
test/
coverage/
.nyc_output
.cache

bower_components
node_modules

yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log
yarn-error.log*