gulpfile.js
index.html
js/example.js
scss/example.scss
favicon.ico

dist/example.min.js
dist/example.min.css

test/
coverage/
.nyc_output

bower_components
node_modules

yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log
yarn-error.log*